.page-header{margin-top:-70px;color:#000}
#maindiv{background-color:white;border-radius:25px;border:2px solid;padding:20px;}
.wellImage{float:left;width:300px;height:490px;text-align: center;border-radius:25px;border:2px solid;}
#wellParTable{width:100%;}
#fluidParTable{width:100%;}
.span4{background-color:white;margin-top:10px;}
.span6{background-color:white;margin-left:20px;border-radius:25px;border:2px solid;}
.sim_result{margin-left:20px;}
.control-group{margin-top:10px;}
.img-polaroid{width:80%;height:80%;}